.inverse-section {
  background-color: $background-color-inverse;
  color: $font-color-inverse-dark;
}

.highlight-section {
  background-color: $background-color-highlight;
  color: $font-color-inverse;
}