$first-color: #57c5a0;

// Background Colors
$background-color: #ebe7df;
$background-color-inverse: #242424;
$background-color-light: #ffffff;
$background-color-highlight: $first-color;

// Font colors
$font-color-body: #000;
$font-color-inverse-dark: #5f5f5f;
$font-color-inverse: #ffffff;

// Borders

$border-color-light: #cccccc;
